*termName: xterm-256color
*decTerminalID: vt340
*numColorRegisters: 256
*sixelScrolling: 1
*sixelScrollsRight: 1

*faceName: xft:Hack Nerd Font Mono
*faceSize: 9

*.scrollBar: false
*scrollKey: true
*scrollTtyOutput: true
*saveLines: 15000
*backarrowKey: false
*cursorBlink: true

*highlightSelection: true
*trimSelection: true
*selectionToClipboard: true

*charClass: 33:48,36-47:48,58:48,63:48,61:48,38:48,35:48
! ↑ Treat : / ? = & # as part of a “word” so URLs are recognized

*.translations: #override \n\
    Ctrl <Key>-: smaller-vt-font() \n\
    Ctrl <Key>+: larger-vt-font() \n\
    Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>V: insert-selection(CLIPBOARD) \n\
    Ctrl <Btn1Down>: exec-formatted("xdg-open '%t'", PRIMARY) \n\
    Ctrl <Btn3Down>: popup-menu(mainMenu)

!! Xterm terminal
!

! Colors 0–15
*.color0:  #4d4d4d
*.color1:  #ff2b2b
*.color2:  #98fb98
*.color3:  #f0e68c
*.color4:  #cd853f
*.color5:  #ffdead
*.color6:  #ffa0a0
*.color7:  #f5deb3
*.color8:  #555555
*.color9:  #ff5555
*.color10: #55ff55
*.color11: #ffff55
*.color12: #87ceff
*.color13: #ff55ff
*.color14: #ffd700
*.color15: #ffffff

! Terminal defaults
*.background:          #333333
*.foreground:          #ffffff

! Cursor
*.cursorColor:         #00ff00
*.cursorColor2:        #000000   ! cursor text

! Selection
*.highlightColor:      #b5d5ff   ! selection background
*.highlightTextColor:  #000000   ! selection foreground


!! Xterm
!

XTerm*VT100.geometry: 80x40
XTerm*internalBorder: 5

!! Xterm class programs
!

float*VT100.geometry: 100x30
float*internalBorder: 20

!! URxvt terminal
!

URxvt.font: xft:Hack Nerd Font Mono:style=Regular:autohint=true:pixelsize=12
URxvt.geometry: 100x40
URxvt.cursorBlink: true
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.internalBorder: 10
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.depth: 24

URxvt.perl-ext-common: eval,resize-font,url-select,matcher

URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.keysym.Control--: resize-font:smaller
URxvt.keysym.Shift-Control-+: resize-font:bigger
URxvt.url-launcher: firefox
URxvt.matcher.button: C-1
