$include /etc/inputrc

set bell-style none
# set colored-stats On
set editing-mode vi
set show-mode-in-prompt on

set vi-cmd-mode-string "(C) "
set vi-ins-mode-string "(I) "

# set completion-ignore-case On
